<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	   
      <h1>This is way <%= description%></h1>

      <% templates.forEach((template) => {  %>
        <li> <%= template.name%> is <%= template.usefulness%> </li>

    <%}) %>
     
			
		<% include partials/footer %>

  </body>
</html>